/public/wp-admin/
/public/wp-content/languages
/public/wp-includes/
/public/index.php
/public/license.txt
/public/readme.html
/public/wp-*.php
/public/xmlrpc.php

# Configuration
/public/wp-config.php

# Example themes
/public/wp-content/themes/twenty*/

#Cache
/public/wp-content/cache/
/public/wp-content/advanced-cache.php
/public/wp-content/wp-cache-config.php

# Uploads
/public/wp-content/uploads/

# Log files
*.log

# htaccess
/public/.htaccess

# All plugins
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes


# End of https://www.toptal.com/developers/gitignore/api/wordpress