.button-one {
	text-decoration: none;
	display: block;
	max-width: max-content;
	position: relative;
	z-index: 1;
	padding: 15px 18px;

	//border: 0.5px solid $white;
	transition: color 200ms ease-in-out;
	overflow: hidden;
	@include type(
		(
			size: 16px,
			height: 16px,
			family: $primaryfont,
			color: $greythree,
			weight: 900,
			align: center,
			transform: lowercase,
		)
	);
	@include mq(small_tablet) {
		font-size: 18px;
		padding: 19px 26px;
	}
	@include mq(large_laptop) {
		font-size: 20px;
		padding: 22px 29px;
	}
	@include mq(small_monitor) {
		font-size: 22px;
		padding: 24px 25px;
	}
	&::before,
	&::after {
		border-radius: 50px;
		border: 0.5px solid $white;
		@include contentdisplay();
		@include box(100%, 100%);
		@include abs(0, null, null, 0);
	}
	&::before {
		background: $browngradient;
		z-index: -1;
	}
	&::after {
		background: $greythree;
		z-index: -1;
		opacity: 0;
		transition: opacity 200ms ease-in-out;
	}
	&:hover {
		color: $brownlight;
		&::after {
			opacity: 1;
		}
	}
}
