#content-layout-inner {
	padding-left: 30px;
	padding-right: 30px;
	@include mq(small_tablet) {
		padding-left: 95px;
		padding-right: 95px;
	}
	@include mq(small_monitor) {
		max-width: 1650px;
		@include margin_lr();
	}
}

#content-layout-top {
	@include mq(small_laptop) {
		@include flex(space-between);
	}
	@include mq(large_laptop) {
		padding-left: 25px;
		padding-right: 25px;
	}
	@include mq(small_monitor) {
		max-width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		@include margin_lr();
	}
	.content-layout-image-wrapper {
		display: none;
		@include mq(small_laptop) {
			display: block;
			flex-shrink: 0;
			flex-basis: 490px;
			margin-left: 93px;
			margin-right: -30px;
		}
		@include mq(large_laptop) {
			flex-basis: 530px;
			margin-left: 119px;
		}
		@include mq(small_monitor) {
			flex-basis: 630px;
			margin-left: 180px;
		}
		.img-wrapper {
			@include mq(small_laptop) {
				position: relative;
			}
			&:nth-of-type(1) {
				@include mq(small_laptop) {
					max-width: 402px;
					left: 88px;
				}
				@include mq(large_laptop) {
					max-width: 441px;
				}
				@include mq(small_monitor) {
					max-width: 521px;
					left: 108px;
				}
			}
			&:nth-of-type(2) {
				@include mq(small_laptop) {
					max-width: 299px;
					margin-top: -202px;
					z-index: 1;
				}
				@include mq(large_laptop) {
					max-width: 327px;
					margin-top: -217px;
				}
				@include mq(small_monitor) {
					max-width: 386px;
					margin-top: -267px;
				}
			}
			img {
				width: 100%;
			}
		}
	}
	.content-layout-content {
		@include mq(small_laptop) {
			margin-top: 15px;
		}
		@include mq(large_laptop) {
			margin-top: 50px;
		}
		@include mq(small_monitor) {
			margin-top: 40px;
		}
	}
}

.content-layout-content {
	@include mq(small_laptop) {
		flex-grow: 1;
	}
	h2 {
		font-size: 24px;
		line-height: 34px;
		font-weight: 500;
		@include mq(small_tablet) {
			padding-bottom: 20px;
			font-size: 26px;
			line-height: 40px;
		}
		@include mq(small_laptop) {
			padding-top: 30px;
		}
		@include mq(large_laptop) {
			font-size: 28px;
			line-height: 42px;
		}
		@include mq(small_monitor) {
			font-size: 32px;
			padding-bottom: 5px;
		}
	}
}

.content-layout-image-wrapper {
	@include margin_lr();
}

#content-layout-blockquote {
	blockquote {
		@include mq(small_tablet) {
			margin-top: 103px;
			margin-bottom: 120px;
		}
		@include mq(small_laptop) {
			margin-top: 115px;
			margin-bottom: 163px;
			font-size: 38px;
			line-height: 48px;
			max-width: 730px;
		}
		@include mq(large_laptop) {
			font-size: 44px;
			line-height: 55px;
			max-width: 840px;
			margin-top: 135px;
		}
		@include mq(small_monitor) {
			font-size: 50px;
			line-height: 63px;
			max-width: 975px;
		}
	}
}

#content-layout-bottom {
	@include mq(small_laptop) {
		@include flex(space-between);
	}

	.content-layout-content {
		padding-top: 52px;
		@include mq(small_tablet) {
			padding-top: 102px;
			clear: both;
		}
		@include mq(small_laptop) {
			flex-grow: 1;
			padding-top: 0px;
			margin-top: -45px;
		}
		h2 {
			@include mq(large_laptop) {
				font-size: 32px;
				line-height: 42px;
			}
		}
	}
	.content-layout-image-wrapper {
		max-width: 448px;
		@include margin_lr();
		@include mq(small_laptop) {
			flex-shrink: 0;
			//flex-basis: 448px;
			margin-right: 120px;
			margin-left: 0;
		}
		@include mq(large_laptop) {
			max-width: 531px;
			margin-right: 170px;
		}
		@include mq(small_monitor) {
			max-width: 614px;
			margin-right: 185px;
		}
		.img-wrapper {
		}
	}
}

.content-layout-learn-more {
	max-width: max-content;
	margin-top: 17px;
	@include margin_lr();
	@include flex(center, flex-end);
	transition: color 300ms ease-in-out;
	@include type(
		(
			size: 14px,
			height: 17px,
			spacing: 2.8px,
			family: $primaryfont,
			color: $greythree,
			weight: 900,
			transform: uppercase,
		)
	);
	@include mq(small_tablet) {
		float: right;
		@include margin_lr(0);
	}
	@include mq(small_laptop) {
		font-size: 16px;
		letter-spacing: 3.2px;
		margin-top: 115px;
	}
	@include mq(large_laptop) {
		margin-top: 41px;
	}
	&:hover {
		color: $browndark;
		span {
			&.link {
				&::after {
					background: $browndark;
				}
			}
			&.arrow {
				svg {
					transform: translateX(-30px) rotate(-45deg);
				}
			}
		}
	}
	span {
		&.link {
			&::after {
				background: $greythree;
				margin-top: 4px;
				transition: background 300ms ease-in-out;
				@include box(100%, 2px);
				@include contentdisplay();
				@include mq(small_laptop) {
					margin-top: 6px;
				}
			}
		}
		&.arrow {
			overflow: hidden;
			position: relative;
			top: 4px;
			margin-left: 9px;
			@include flex();
			@include box(30px, 30px);
			@include mq(small_laptop) {
				margin-left: 23px;
			}
			svg {
				flex-shrink: 0;
				display: inline-block;
				position: relative;
				transform: translateX(0px) rotate(-45deg);
				transition: transform 250ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
				@include box(30px, 30px);
			}
		}
	}
}
