footer {
}

#footer-inner {
	position: relative;
	padding: 1px 30px 77px;
	@include mq(small_tablet) {
		padding: 1px 52px 22px;
	}
}

#consultation {
	position: relative;
	z-index: 1;
	background: $greythree;
	box-shadow: 0px 3px 9px #0000007c;
	margin-top: -170px;
	padding: 44px 20px 50px;
	max-width: 470px;
	@include margin_lr();
	@include mq(small_tablet) {
		max-width: 100%;
		padding: 52px 53px 50px;
	}
	.gform_validation_errors {
		display: none;
	}
	.gform_wrapper.gravity-theme {
		margin-top: 50px;
		max-width: 400px;
		@include margin_lr();
		@include mq(small_tablet) {
			max-width: 100%;
		}
		.validation_message {
			background: transparent;
			border: none;
			padding: 0;
			@include type(
				(
					size: 14px,
					height: 16px,
					family: $primaryfont,
					color: $brownlight,
					weight: 700,
				)
			);
		} // start utilizing gravity forms default grid system next site no need for me to override with display flex like i am below
		.gform_fields {
			grid-column-gap: 0px;
			gap: 0;
			@include mq(small_tablet) {
				@include flex(space-between, null, null, wrap);
			}
		}
		.gfield {
			position: relative;
			width: 100%;
			margin-bottom: 10px;
			@include mq(small_tablet) {
				margin-bottom: 15px;
				flex-basis: calc(50% - 6px);
			}
			.gfield_label {
				display: none;
			}
			input,
			textarea {
				border: 3px solid transparent;
				transition: border 200ms ease-in-out;
				padding: 12px 16px;
				width: 100%;
				@include type(
					(
						size: 14px,
						height: 16px,
						family: $primaryfont,
						color: $anothercolor,
						weight: 700,
					)
				);
				&:focus {
					border: 3px solid $brownlight;
				}
			}
			textarea {
				height: 149px;
			}
			input::placeholder,
			textarea::placeholder {
				color: $anothercolor;
			}
			&#field_1_5 {
				@include mq(small_tablet) {
					flex-basis: 100%;
					margin-bottom: 9px;
				}
			}
			&#field_1_7 {
				margin-bottom: 0px;
				@include mq(small_tablet) {
					flex-basis: 300px;
				}
				.ilaw-required {
					display: block;
					padding-top: 4px;
					@include type(
						(
							size: 15px,
							family: $primaryfont,
							color: $brownlight,
							weight: 700,
							align: center,
							transform: lowercase,
						)
					);
					@include mq(small_tablet) {
						text-align: left;
						font-size: 17px;
					}
				}
			}
		}

		#field_submit {
			max-width: max-content;
			position: relative;
			z-index: 1;
			padding: 0;
			margin: 14px 0 0 0;
			border-radius: 50px;
			border: 0.5px solid $white;
			transition: color 200ms ease-in-out;
			overflow: hidden;
			@include margin_lr();
			@include mq(small_tablet) {
				margin: 7px 0 0 0;
			}
			&::before,
			&::after {
				@include contentdisplay();
				@include box(100%, 100%);
				@include abs(0, null, null, 0);
			}
			&::before {
				background: $browngradient;
				z-index: -1;
			}
			&::after {
				background: $greythree;
				z-index: -1;
				opacity: 0;
				transition: opacity 200ms ease-in-out;
			}
			&:hover {
				color: $brownlight;
				&::after {
					opacity: 1;
				}
				input[type="submit"] {
					color: $brownlight;
				}
			}
			input[type="submit"] {
				cursor: pointer;
				background: transparent;
				border: none;
				width: 100%;
				padding: 12px 20px;
				margin: 0;
				min-height: auto;
				@include type(
					(
						size: 18px,
						height: 18px,
						spacing: 1.8px,
						family: $primaryfont,
						color: $greythree,
						weight: 900,
						align: center,
						transform: uppercase,
					)
				);
			}
		}
		.gform_footer {
			margin: 0;
			padding: 0;
		}
	}
}

#consultation-content {
	@include mq(small_tablet) {
		@include flex(null, null, null, wrap);
	}
}

#footer-form-title {
	display: block;
	@include margin_lr();
	@include type(
		(
			size: 35px,
			height: 35px,
			family: $secondaryfont,
			color: $brownlight,
			align: center,
			transform: uppercase,
		)
	);
	@include mq(small_tablet) {
		font-size: 55px;
		line-height: 55px;
		text-align: left;
		flex-basis: 100%;
	}
	br {
	}
}

#footer-form-subtitle {
	display: block;
	margin-top: 12px;
	@include type(
		(
			size: 16px,
			height: 20px,
			spacing: 3.2px,
			family: $primaryfont,
			color: $white,
			weight: 700,
			align: center,
			transform: uppercase,
		)
	);
	@include mq(small_tablet) {
		text-align: left;
		margin-top: 22px;
		flex-shrink: 0;
		flex-basis: 245px;
	}
}

#footer-form-descrip {
	display: block;
	margin-top: 19px;
	max-width: 310px;
	margin-left: 30px;
	@include margin_lr();
	@include type(
		(
			size: 16px,
			height: 22px,
			family: $primaryfont,
			color: $white,
			align: center,
		)
	);
	@include mq(small_tablet) {
		text-align: left;
		flex-shrink: 0;
		padding-left: 47px;
		padding-right: 20px;
		max-width: 417px;
		width: calc(100% - 245px);
		@include flex();
		@include margin_lr(0);
	}
	&::before {
		@include mq(small_tablet) {
			background: $brownlight;
			flex-shrink: 0;
			margin-top: 10px;
			margin-right: 19px;
			@include box(35px, 2px);
			@include contentdisplay();
		}
	}
}

.footer-form-descrip {
}

#footer-bg {
	object-fit: cover;
	@include image();
	@include abs(0, null, null, 0);
	@include box(100%, 100%);
}

#footer-info {
	position: relative;
	z-index: 1;
	margin-top: 67px;
	@include mq(small_tablet) {
		margin-top: 78px;
		padding: 0 43px;
		@include flex(flex-start, null, null, wrap);
	}
}

.footer-info-col {
	max-width: 270px;
	@include margin_lr();
	@include mq(small_tablet) {
		max-width: 100%;
		@include margin_lr(0);
	}
	&:nth-of-type(1) {
		@include mq(small_tablet) {
			order: 1;
			flex-basis: 240px;
			flex-shrink: 0;
		}
	}
	&:nth-of-type(2) {
		@include mq(small_tablet) {
			order: 2;
			margin-top: 34px;
			margin-left: 62px;
		}
	}
	&:nth-of-type(3) {
		@include mq(small_tablet) {
			order: 4;
			margin-left: 62px;
		}
	}
	&:nth-of-type(4) {
		@include mq(small_tablet) {
			order: 3;
			flex-basis: 240px;
			flex-shrink: 0;
		}
	}
	span:not(.footer-title, .brown-light) {
		display: block;
	}
}

#contact-title {
	max-width: 8ch;
	margin-bottom: 53px;
	@include margin_lr();
	@include type(
		(
			size: 44px,
			height: 48px,
			family: $secondaryfont,
			color: $brownlight,
			align: center,
		)
	);
	@include mq(small_tablet) {
		font-size: 59px;
		line-height: 64px;
		text-align: left;
	}
}

.footer-title {
	@include flex(null, center);
	@include type(
		(
			size: 16px,
			spacing: 3.2px,
			family: $primaryfont,
			color: $brownlight,
			weight: 900,
			transform: uppercase,
		)
	);
	&::before {
		background: $brownlight;
		margin-right: 15px;
		@include box(50px, 2px);
		@include contentdisplay();
	}
}

.footer-info-col-inner {
	margin-left: 63px;
}

.footer-address {
	margin-top: 12px;
	max-width: 22ch;
	@include type(
		(
			size: 18px,
			height: 26px,
			family: $primaryfont,
			color: $white,
		)
	);
}

.get-directions {
	margin-top: 14px;
	padding-bottom: 3px;
	display: block;
	max-width: max-content;
	border-bottom: 2px solid $brownlight;
	transition: all 200ms ease-in-out;
	@include type(
		(
			size: 14px,
			spacing: 2.8px,
			family: $primaryfont,
			color: $brownlight,
			weight: 900,
			transform: uppercase,
		)
	);
	&:hover {
		color: $white;
	}
}

.footer-phone {
	margin-top: 34px;
	margin-bottom: 55px;
	display: block;
	transition: all 200ms ease-in-out;
	@include type(
		(
			size: 20px,
			family: $primaryfont,
			color: $white,
			weight: 900,
			transform: uppercase,
		)
	);
	&:hover {
		color: $brownlight;
	}
}

#social-media {
	margin-top: 58px;
	@include flex(center, center);
	@include mq(small_tablet) {
		flex-direction: column;
		margin-top: -25px;
		width: 20px;
	}
	a {
		margin: 0 16px;
		@include mq(small_tablet) {
			margin: 0px 0 33px;
		}
		svg {
			@include image();
			path {
				fill: $white;
				transition: all 200ms ease-in-out;
			}
		}
		&:hover {
			svg {
				path {
					fill: $brownlight;
				}
			}
		}
	}
}

#copyright {
}

#copyright-inner {
	padding: 18px 20px;
	text-align: center;
	@include mq(small_tablet) {
		padding: 25px 20px;
	}
	ul {
		margin-top: 7px;
		list-style: none;
		li {
			display: inline-block;
			@include type(
				(
					size: 12px,
					height: 16px,
					spacing: 0.72px,
					family: $primaryfont,
					color: $greythree,
					weight: 900,
					transform: uppercase,
				)
			);
			&::after {
				margin-top: 4px;
				margin-left: 7px;
				margin-right: 2px;
				background: $greythree;
				vertical-align: top;
				@include box(2px, 9px);
				@include contentdisplay(inline-block);
			}
			&:last-of-type {
				&::after {
					display: none;
				}
			}
			a {
				display: none;
				@include mq(small_tablet) {
					display: inline-block;
					color: $greythree;
					text-decoration: none;
				}
			}
		}
	}
}
