header {
	position: relative;
	z-index: 5;
	width: 100%;
	background: $white;
	@include mq(small_tablet) {
		@include fixed(0, null, null, 0);
	}
	&::before {
		@include mq(small_tablet) {
			box-shadow: 0px 3px 6px #00000029;
			pointer-events: none;
			@include box(100%, 100%);
			@include abs(0, null, null, 0, 2);
			@include contentdisplay();
		}
	}
}

body.ilawyer-menu-open {
	header {
		box-shadow: none;
	}
}

#header-inner {
	@include mq(small_tablet) {
		@include flex();
	}
}

#header-left {
	padding: 12px 20px 8px;
	height: 63px;
	@include flex(center, center);
	@include mq(small_tablet) {
		flex-shrink: 0;
		height: 83px;
		padding: 17px 21px 16px;
		position: relative;
		z-index: 3;
	}
	@include mq(small_laptop) {
		padding: 12px 15px 8px;
	}
	@include mq(large_laptop) {
		padding: 12px 32px 8px;
	}
}

#logo {
	display: block;
	max-width: 312px;
	@include mq(small_tablet) {
		max-width: 100%;
	}
	img {
		@include image();
		@include margin_lr();
		@include mq(small_tablet) {
			@include box(385px, auto);
		}
		@include mq(large_laptop) {
			width: 405px;
		}
	}
}

#header-right {
	background: $grey;
	width: 100%;
	@include flex();
	@include mq(small_tablet) {
		flex-grow: 1;
		background: transparent;
	}
	@include mq(small_laptop) {
		padding-right: 21px;
		@include flex(null, null, column);
	}
	@include mq(small_monitor) {
		padding-right: 37px;
		flex-direction: row;
		justify-content: space-between;
	}
	&::before {
		box-shadow: 0px 3px 6px #00000029;
		pointer-events: none;
		//border-bottom: 35px solid $grey;
		@include box(100%, 100%);
		@include abs(0, null, null, 0, 2);
		@include contentdisplay();
		@include mq(small_tablet) {
			display: none;
		}
	}
}

body.mobile-header-change {
	#header-right {
		@include fixed(0, null, null, 0);
		@include mq(small_tablet) {
			position: relative;
			z-index: 1;
		}
	}
}

#cta-wrap {
	flex-grow: 1;
	padding: 9px 22px;
	position: relative;
	z-index: 3;
	@include mq(small_tablet) {
		text-align: right;
		padding: 19px 16px;
	}
	@include mq(small_laptop) {
		padding: 18px 0 3px 0;
		flex: none;
		@include flex(flex-end, center);
	}
	@include mq(small_monitor) {
		order: 2;
		display: block;
	}
}

#cta {
	display: block;
	@include type(
		(
			size: 16px,
			height: 16px,
			family: $primaryfont,
			color: $browndark,
			weight: 900,
		)
	);
}

#phone {
	display: inline-block;
	margin-top: 5px;
	@include type(
		(
			size: 24px,
			height: 24px,
			family: $primaryfont,
			color: $white,
			weight: 700,
		)
	);
	@include mq(small_tablet) {
		font-size: 26px;
		color: $greythree;
	}
	@include mq(small_laptop) {
		font-size: 28px;
		margin-top: 0;
		margin-left: 15px;
	}
	@include mq(large_laptop) {
		font-size: 30px;
	}
	@include mq(small_monitor) {
		margin-left: 0px;
		margin-top: 8px;
	}
}

body.ilawyer-menu-open {
	#menu-wrap {
		span {
			&:nth-of-type(1) {
				transform: rotate(45deg);
				transform-origin: 6px 9px;
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:nth-of-type(3) {
				transform: rotate(-45deg);
				transform-origin: 7px -4px;
			}
		}
	}
}

#menu-wrap {
	flex-shrink: 0;
	cursor: pointer;
	position: relative;
	z-index: 3;
	@include flex(center, center, column);
	@include box(68px, 68px);
	@include mq(small_tablet) {
		background: $grey;
		@include box(83px, 83px);
	}
	@include mq(small_laptop) {
		display: none;
	}
	span {
		display: block;
		background: $browndarktwo;
		margin-bottom: 7px;
		opacity: 1;
		transform-origin: center center;
		transform: rotate(0);
		transition: transform 500ms cubic-bezier(0.17, 0.66, 0.34, 0.98), opacity 200ms ease-in-out;
		@include box(39px, 4px);
		@include mq(small_tablet) {
			margin-bottom: 8px;
			@include box(42px, 4px);
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
