.logos-slider {
	margin-top: 73px;
	@include mq(small_tablet) {
		margin-top: 122px;
	}
	@include mq(small_laptop) {
		margin-top: 144px;
	}
	@include mq(large_laptop) {
		margin-top: 221px;
		padding: 0 30px;
	}
	@include mq(small_monitor) {
		padding: 0 70px;
		margin-top: 235px;
		max-width: 2300px;
		@include margin_lr();
	}
	.slick-dots {
		position: static;
		margin-top: 40px;
		@include mq(small_tablet) {
			margin-top: 35px;
		}
		@include mq(small_laptop) {
			margin-top: 60px;
		}
		@include mq(large_laptop) {
			margin-top: 65px;
		}
		li.slick-active {
			button {
				&:before {
					color: $browndark;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color: $browndark;
				}
			}
		}
		li {
			margin: 0;
			width: 15px;
			button {
				width: 15px;
				&:before {
					width: 15px;
					opacity: 1;
					color: $greythree;
					font-size: 30px;
					transition: all 200ms ease-in-out;
				}
			}
		}
	}
}

.single-logo {
	height: 76px;
	@include mq(small_laptop) {
		height: 94px;
	}
	@include mq(large_laptop) {
		height: 112px;
	}
	&:first-child {
		display: block;
	}
	&:nth-child(n + 2) {
		display: none;
	}
	.single-logo-inner {
		height: 100%;
		background: $offwhite;
		@include flex(center, center);
		img {
			@include image();
			max-height: 76px;
			mix-blend-mode: multiply;
			@include mq(small_laptop) {
				max-height: 94px;
			}
			@include mq(large_laptop) {
				max-height: 112px;
			}
		}
	}
	// need a better way to allow for customizations for each logo for each device that the client can adjust. these shouldnt be hardcoded
	&.award_1 {
		.single-logo-inner {
			img {
				@include box(123px, auto);
				@include mq(small_laptop) {
					@include box(154px, auto);
				}
				@include mq(large_laptop) {
					@include box(182px, auto);
				}
				@include mq(small_monitor) {
					@include box(217px, auto);
				}
			}
		}
	}
	&.award_2 {
		.single-logo-inner {
			img {
				@include box(147px, auto);
				@include mq(small_laptop) {
					@include box(184px, auto);
				}
				@include mq(large_laptop) {
					@include box(217px, auto);
				}
				@include mq(small_monitor) {
					@include box(257px, auto);
				}
			}
		}
	}
	&.award_3_new {
		.single-logo-inner {
			img {
				@include box(175px, auto);
				@include mq(small_laptop) {
					@include box(220px, auto);
				}
				@include mq(large_laptop) {
					@include box(263px, auto);
				}
				@include mq(small_monitor) {
					@include box(312px, auto);
				}
			}
		}
	}
	&.award_4 {
		.single-logo-inner {
			img {
				@include box(130px, auto);
				@include mq(large_laptop) {
					@include box(140px, auto);
				}
				@include mq(small_monitor) {
					@include box(157px, auto);
				}
			}
		}
	}
	&.award_5 {
		.single-logo-inner {
			img {
				@include mq(small_monitor) {
					@include box(143px, auto);
				}
			}
		}
	}
	&.award_6 {
		.single-logo-inner {
			img {
				@include box(210px, auto);
				@include mq(large_laptop) {
					@include box(240px, auto);
				}
				@include mq(small_monitor) {
					@include box(280px, auto);
				}
			}
		}
	}
}
