nav {
	background: $greytwo;
	padding: 50px 0px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: none;
	@include box(100%, 100vh);
	@include abs(131px, null, null, 0, -1);
	@include mq(small_tablet) {
		top: 83px;
	}
	@include mq(small_laptop) {
		display: block !important;
		overflow-y: visible;
		background: transparent;
		position: relative;
		padding: 0;
		top: 0;
		z-index: 5;
		@include box(auto, auto);
	}
	@include mq(small_monitor) {
		order: 1;
		flex-grow: 1;
		margin-top: 33px;
	}
	ul {
		li {
			list-style: none;
			display: block;
			position: relative;
			@include type(
				(
					height: 22px,
					family: $primaryfont,
					color: $white,
					align: center,
				)
			);
			@include mq(small_laptop) {
				text-align: left;
			}
			&.menu-item-has-children {
				&.active,
				&:hover {
					> a {
						color: $brownlight;
						@include mq(small_laptop) {
							color: $browndark;
						}
						&::after {
							@include contentdisplay(inline-block, '-');
						}
					}
				}
				&:hover {
					> ul.sub-menu {
						@include mq(small_laptop) {
							opacity: 1;
							visibility: visible;
						}
					}
				}
				> a {
					&::after {
						vertical-align: top;
						margin: 1px 0 0 4px;
						@include box(9px, 22px);
						@include contentdisplay(inline-block, '+');
					}
				}
			}
			&.current-menu-item,
			&.current_page_parent,
			&.current-menu-ancestor {
				> a {
					color: $brownlight;
					@include mq(small_laptop) {
						color: $browndark;
					}
				}
			}
			a {
				cursor: pointer;
				text-decoration: none;
				color: $white;
				display: block;
				display: inline-block;
				transition: all 200ms ease-in-out;
				@include mq(small_laptop) {
					color: $greythree;
				}
				&:hover {
					color: $brownlight;
					@include mq(small_laptop) {
						color: $browndark;
					}
				}
			}
		}
	}
}

body.ilawyer-menu-open {
	nav {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

body.mobile-header-change {
	nav {
		@include fixed(68px, null, null, 0, -1);
		@include mq(small_tablet) {
			top: 83px;
		}
		@include mq(small_laptop) {
			position: static;
		}
	}
}

nav {
	ul.menu {
		padding-bottom: 100px;
		@include mq(small_laptop) {
			padding-bottom: 0px;
			@include flex(flex-end);
		}
		@include mq(small_monitor) {
			justify-content: center;
		}
		> li {
			font-size: 18px;
			font-weight: 700;
			text-transform: lowercase;
			@include mq(small_laptop) {
				font-size: 16px;
				margin-left: 2.8%;
				padding-bottom: 15px;
			}
			@include mq(large_laptop) {
				font-size: 18px;
				margin-left: 3.1%;
			}
			@include mq(small_monitor) {
				margin: 0 1.1%;
				padding-bottom: 27px;
			}
			// these need their dropdowns to go to the left bc the get cut off on the edge of the browser
			&:nth-last-of-type(-n + 3) {
				> ul.sub-menu {
					@include mq(small_laptop) {
						left: auto;
						right: -5px;
					}
					@include mq(small_monitor) {
						left: -5px;
						right: auto;
					}
					> li {
						> ul.sub-menu {
							right: auto;
							left: -277px;
							@include mq(small_monitor) {
								left: -409px;
							}
						}
					}
				}
			}
			> a {
				margin-bottom: 27px;
				@include mq(small_laptop) {
					margin-bottom: 0;
				}
			}
		}
	}
}

nav {
	ul.sub-menu {
		box-shadow: 0px 3px 6px #00000029;
		padding: 0px;
		margin-bottom: 0px;
		background: $grey;
		opacity: 0;
		visibility: hidden;
		max-height: 0px;
		transition: opacity 200ms cubic-bezier(0.17, 0.66, 0.34, 0.98),
			visibility 200ms cubic-bezier(0.17, 0.66, 0.34, 0.98),
			margin 800ms cubic-bezier(0.17, 0.66, 0.34, 0.98),
			padding 800ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
		@include mq(small_laptop) {
			max-height: none;
			background: $white;
			padding: 30px 0px;
			width: 277px;
			@include abs(38px, null, null, -5px);
		}
		@include mq(large_laptop) {
		}
		@include mq(small_monitor) {
			top: 50px;
			width: 409px;
			padding: 52px 0px;
		}
		&.active {
			margin-bottom: 35px;
			padding: 30px 0;
			opacity: 1;
			visibility: visible;
			max-height: 3000px;
			@include mq(small_tablet) {
				padding: 35px 0;
			}
			@include mq(small_laptop) {
				opacity: 0;
				visibility: hidden;
			}
		}
		li {
			font-size: 16px;
			font-weight: 900;
			text-transform: capitalize;
			@include mq(small_laptop) {
				font-size: 15px;
			}
			@include mq(large_laptop) {
				font-size: 16px;
			}
			&.ilawyer-view-all {
				text-transform: uppercase;
			}
			&:last-of-type {
				a {
					margin-bottom: 0;
				}
			}
			a {
				margin-bottom: 15px;
				padding: 0 40px;
				@include mq(small_monitor) {
					padding: 0 55px;
				}
			}
		}
		> li ul.sub-menu {
			background: #35404b;
			margin-top: 0px;
			@include mq(small_laptop) {
				background: $white;
				top: -29px;
				left: auto;
				right: -277px;
			}
			@include mq(small_monitor) {
				top: -51px;
				right: -409px;
			}
			&.active {
				margin-top: 29px;
			}
		}
	}
}
