////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$black: #0b1216;
$grey: #2f3842;
$greytwo: #2c333c;
$greythree: #2a333d;
$greyfour: #c4c8c6;
$browndark: #ce996e;
$browndarktwo: #e2b387;
$brownlight: #f0c498;
$browngradient: transparent linear-gradient(180deg, $brownlight 0%, $browndark 100%) 0% 0% no-repeat
	padding-box;
$offwhite: #f2f0ef;
$white: #fff;
$whitegradient: linear-gradient(180deg, #ffffff 0%, $offwhite 100%) 0% 0% no-repeat padding-box;
