////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$black: #0b1216;
$grey: #2f3842;
$blue: #2a333d;
$browndark: #ce996e;
$brownlight: #f0c498;
$browngradient: transparent linear-gradient(180deg, $brownlight 0%, $browndark 100%) 0% 0% no-repeat
	padding-box;
$offwhite: #f2f0ef;
$white: #fff;
