.template-meetteam {
	#banner {
		padding-top: 79px;
		padding-bottom: 180px;
		@include mq(small_tablet) {
			padding-top: 110px;
			padding-bottom: 360px;
		}
		@include mq(small_laptop) {
			padding-top: 140px;
			padding-bottom: 375px;
		}
		@include mq(large_laptop) {
			padding-top: 150px;
			padding-bottom: 440px;
		}
		@include mq(small_monitor) {
			padding-top: 170px;
			padding-bottom: 562px;
		}
	}
	#banner-title {
		font-size: 50px;
		@include mq(small_tablet) {
			font-size: 60px;
			line-height: 75px;
		}
		@include mq(small_laptop) {
			font-size: 70px;
			line-height: 85px;
		}
		@include mq(small_monitor) {
			font-size: 90px;
			line-height: 105px;
		}
	}
	#page-container-inner {
		padding-left: 37px;
		padding-right: 37px;
		@include mq(small_tablet) {
			padding-left: 55px;
			padding-right: 55px;
		}
		@include mq(small_laptop) {
			padding-left: 75px;
			padding-right: 75px;
		}
		@include mq(small_monitor) {
			padding-left: 135px;
			padding-right: 135px;
		}
	}
	.template-part-wrapper {
		margin-top: -150px;
		@include mq(small_tablet) {
			margin-top: -335px;
		}
		@include mq(small_laptop) {
			margin-top: -325px;
		}
		@include mq(large_laptop) {
			margin-top: -400px;
		}
		@include mq(small_monitor) {
			margin-top: -530px;
		}
	}
}

#meetteam-wrapper {
	margin-bottom: -30px;
	max-width: 320px;
	@include margin_lr();
	@include mq(small_tablet) {
		max-width: 692px;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-auto-rows: auto;
		grid-gap: 0px 30px;
		padding: 0px;
	}
	@include mq(small_laptop) {
		max-width: 100%;
		margin-bottom: -120px;
		grid-gap: 0px 40px;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	@include mq(large_laptop) {
		max-width: 1255px;
	}
	@include mq(small_monitor) {
		max-width: 100%;
		grid-gap: 0px 45px;
	}
}

.single-att {
	text-align: center;
	position: relative;
	margin-bottom: 70px;
	@include mq(small_tablet) {
		margin-bottom: 85px;
	}
	@include mq(small_laptop) {
		margin-bottom: 115px;
	}
	@include mq(large_laptop) {
		margin-bottom: 139px;
	}
	@include mq(small_monitor) {
		margin-bottom: 115px;
	}
	&::before {
		background: $brownlight;
		transform: translateY(15px);
		opacity: 0;
		transition: opacity 300ms ease-in-out, transform 900ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
		@include margin_lr();
		@include box(2px, 80px);
		@include contentdisplay();
		@include abs(-25px, 0, null, 0, 1);
	}
	&:hover {
		&::before {
			@include mq(small_laptop) {
				opacity: 1;
				transform: translateY(0px);
			}
		}
		.single-att-img-wrapper {
			@include mq(small_laptop) {
				border-radius: 198px;
				transform: scale(0.95);
			}
			@include mq(small_monitor) {
				border-radius: 255px;
			}
		}
		.single-att-overlay {
			&::before {
				@include mq(small_laptop) {
					opacity: 1;
				}
			}
		}
		.single-att-button {
			@include mq(small_laptop) {
				opacity: 1;
				transform: translateY(0px);
			}
		}
		&.placeholder {
			.single-att-overlay {
				&::before {
					@include mq(small_laptop) {
						opacity: 0;
					}
				}
			}
			.attprofile-placeholder {
				&::before {
					@include mq(small_laptop) {
						opacity: 0;
					}
				}
			}
		}
	}
	&.placeholder {
		&:nth-of-type(-n + 3) {
			&::before {
				background: $white;
			}
		}
		&::before {
			background: $greythree;
		}
		.single-att-button {
			color: $brownlight;
			&::before {
				background: $greythree;
			}
		}
	}
	a {
		text-decoration: none;
		span {
			display: block;
		}
	}
}

.single-att-img-wrapper {
	position: relative;
	overflow: hidden;
	//border-radius: 0px;
	transform: scale(1);
	transform-origin: center, center;
	transition: border-radius 500ms ease-in-out,
		transform 900ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
	img {
		@include image();
	}
}

.single-att-overlay {
	@include flex(center, center, column);
	@include box(100%, 100%);
	@include abs(0, null, null, 0);
	&::before {
		opacity: 0;
		background: transparent linear-gradient(180deg, #0b1216 0%, #ffffff00 30%) 0% 0% no-repeat
			padding-box;
		transition: opacity 300ms ease-in-out;
		@include box(100%, 100%);
		@include contentdisplay();
		@include abs(0px, 0, null, 0);
	}
}

.single-att-name {
	margin-top: 20px;
	@include type(
		(
			size: 30px,
			height: 35px,
			family: $secondaryfont,
			color: $browndark,
		)
	);
	@include mq(small_laptop) {
		margin-top: 35px;
	}
	@include mq(large_laptop) {
		font-size: 34px;
		margin-top: 40px;
	}
	@include mq(small_monitor) {
		font-size: 40px;
		line-height: 42px;
	}
}

.single-att-position {
	margin-top: 12px;
	@include type(
		(
			size: 16px,
			height: 19px,
			spacing: 3.2px,
			family: $primaryfont,
			color: $black,
			weight: 900,
			transform: uppercase,
		)
	);
	@include mq(small_laptop) {
		margin-top: 7px;
	}
	@include mq(large_laptop) {
		margin-top: 12px;
	}
	@include mq(small_monitor) {
		font-size: 18px;
		spacing: 3.6px;
		margin-top: 16px;
	}
}

.single-att-button {
	padding: 12px 24px;
	transform: translateY(15px);
	opacity: 0;
	transition: opacity 300ms ease-in-out, transform 900ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
	font-size: 18px;
	@include margin_lr();
	@include mq(large_laptop) {
		padding: 19px 35px;
	}
}
