#section-two {
	padding: 30px 30px 20px 30px;
	position: relative;
	@include mq(small_tablet) {
		padding: 30px 50px 50px;
	}
	@media screen and (min-width: 975px) {
		padding: 30px 40px 50px;
	}
	@include mq(small_laptop) {
		padding: 30px 40px 80px;
	}
	@include mq(large_laptop) {
		padding: 30px 75px 110px;
	}
	@include mq(small_monitor) {
		padding: 30px 145px 150px;
	}
}

#sec-two-inner {
	position: relative;
	z-index: 1;
	padding: 1px 0;
	@include margin_lr();
	@include mq(small_tablet) {
	}
	@media screen and (min-width: 975px) {
	}
	@include mq(small_monitor) {
		max-width: 1630px;
		@include margin_lr();
	}
}

#sec-two-sp {
	margin-top: -160px;
	max-width: 325px;
	@include margin_lr();
	@include mq(small_tablet) {
		max-width: 100%;
	}
	@include mq(small_laptop) {
		margin-top: -139px;
	}
	@include mq(large_laptop) {
		margin-top: -185px;
	}
	@include mq(small_monitor) {
		margin-top: -250px;
	}
	.slick-track {
		padding-bottom: 20px;

		@include mq(small_tablet) {
			@include flex();
		}
	}
	.slick-list {
		margin: 0 -10px;
		@include mq(small_tablet) {
			margin: 0 -13px;
		}
		@media screen and (min-width: 975px) {
			margin: 0 -15px;
		}
		@include mq(large_laptop) {
			margin: 0 -25px;
		}
		@include mq(small_monitor) {
			margin: 0 -30px;
		}
	}
	.slick-slide {
		margin: 0 10px 23px;
		background: $grey;
		padding: 27px 32px;
		text-align: center;
		box-shadow: 0px 3px 6px #00000029;
		@include mq(small_tablet) {
			margin: 0 13px;
			padding: 27px 40px;
			height: inherit;
		}
		@media screen and (min-width: 975px) {
			margin: 0 15px;
		}
		@include mq(small_laptop) {
			padding: 30px 44px;
		}
		@include mq(large_laptop) {
			margin: 0 25px;
			padding: 30px 48px;
		}
		@include mq(small_monitor) {
			padding: 37px 62px;
			margin: 0 30px;
		}
		> div {
			height: 100%;
		}
	}
	.slick-dots {
		position: static;
		margin: 3px 0 0 0;
		@include mq(small_tablet) {
			margin: 12px 0 0 0;
		}
		li.slick-active {
			button {
				&:before {
					color: $brownlight;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color: $brownlight;
				}
			}
		}
		li {
			margin: 0;
			width: 18px;
			button {
				width: 18px;
				&:before {
					width: 18px;
					opacity: 1;
					color: $white;
					font-size: 30px;
					transition: all 200ms ease-in-out;
				}
			}
		}
	}
}

.sec-two-single-sp {
	height: 100%;
	&:first-child {
		display: block;
	}
	&:nth-child(n + 2) {
		display: none;
	}
	&.two {
		.sec-two-single-sp-title {
			max-width: 8ch;
		}
		.sec-two-single-sp-content {
			max-width: 16ch;
			@include margin_lr();
			@include mq(small_laptop) {
				max-width: 19ch;
			}
		}
	}
	&.three {
		.sec-two-single-sp-content {
			@include mq(small_laptop) {
				max-width: 26ch;
			}
		}
	}
}

.sec-two-single-sp-inner {
	background: $greytwo;
	border-radius: 350px;
	padding: 37px 23px 97px;
	color: $white;
	position: relative;
	height: 100%;
	@include mq(small_laptop) {
		padding: 41px 23px 97px;
	}
	@include mq(large_laptop) {
		padding: 53px 30px 103px;
	}
	@include mq(small_monitor) {
		padding: 72px 23px 152px;
	}
	svg,
	img {
		width: auto;
		@include image();
		height: 60px;
		@include margin_lr();
		@include mq(small_laptop) {
			height: 65px;
		}
		@include mq(large_laptop) {
			height: 70px;
		}
		@include mq(small_monitor) {
			height: 92px;
		}
	}
	span {
		display: block;
	}
}

.sec-two-single-sp-title {
	margin-top: 16px;
	max-width: 12ch;
	@include margin_lr();
	@include type(
		(
			size: 26px,
			height: 27px,
			family: $secondaryfont,
		)
	);
	@include mq(small_tablet) {
		font-size: 30px;
		line-height: 30px;
	}
	@include mq(large_laptop) {
		margin-top: 24px;
	}
	@include mq(small_monitor) {
		font-size: 40px;
		line-height: 40px;
		margin-top: 28px;
	}
}

.sec-two-single-sp-content {
	margin-bottom: 38px;
	margin-top: 10px;
	@include margin_lr();
	max-width: 24ch;
	@include type(
		(
			size: 16px,
			height: 20px,
			family: $primaryfont,
		)
	);
	@include mq(small_laptop) {
		font-size: 17px;
		line-height: 24px;
		margin-top: 13px;
		margin-bottom: 33px;
	}
	@include mq(large_laptop) {
		margin-top: 19px;
		margin-bottom: 39px;
	}
	@include mq(small_monitor) {
		font-size: 22px;
		line-height: 30px;
		margin-top: 25px;
	}
}

.sec-two-single-sp-button {
	font-size: 15px;
	line-height: 16px;
	padding: 10px 15px;
	@include abs(null, 0, 68px, 0);
	@include margin_lr();
	@include mq(small_tablet) {
		bottom: 72px;
	}
	@include mq(small_laptop) {
		font-size: 16px;
		padding: 12px 15px;
	}
	@include mq(small_monitor) {
		font-size: 18px;
		padding: 17px 24px;
		bottom: 100px;
	}
}

#sec-two-background {
	object-fit: cover;
	@include box(100%, 100%);
	@include abs(0, null, null, 0);
}

#sec-two-content {
	padding: 0 10px;
	@include mq(small_tablet) {
		padding: 0 77px;
		max-width: 767px;
		@include margin_lr();
	}
	@include mq(small_laptop) {
		@include flex();
		max-width: 100%;
		padding: 0 48px;
	}
	@include mq(large_laptop) {
		padding: 0px 85px;
	}
}

#sec-two-content-left {
	margin-top: 50px;
	@include mq(small_tablet) {
		margin-top: 43px;
	}
	@include mq(small_laptop) {
		margin-top: 80px;
		flex-basis: 550px;
		flex-shrink: 0;
		margin-right: 64px;
	}
	@include mq(large_laptop) {
		flex-basis: 630px;
		margin-top: 103px;
		margin-right: 90px;
	}
	@include mq(small_monitor) {
		margin-top: 183px;
		margin-right: 112px;
	}
	@include mq(monitor) {
		flex-basis: 850px;
	}
	h1 {
		font-size: 26px;
		line-height: 33px;
		margin-bottom: 17px;
		@include type(
			(
				size: 26px,
				height: 33px,
				family: $secondaryfont,
				color: $brownlight,
			)
		);
		@include mq(small_tablet) {
			font-size: 45px;
			line-height: 54px;
			margin-bottom: 25px;
		}
		@include mq(small_laptop) {
			font-size: 50px;
			line-height: 60px;
			margin-bottom: 25px;
		}
		@include mq(large_laptop) {
			font-size: 57px;
			line-height: 68px;
		}
		@include mq(monitor) {
			font-size: 72px;
			line-height: 86px;
		}
	}
}

#sec-two-content-right {
	@include mq(small_tablet) {
		@include flex();
		padding-right: 40px;
	}
	@include mq(small_laptop) {
		margin-top: 99px;
		padding-right: 0;
	}
	@include mq(large_laptop) {
		margin-top: 128px;
	}
	@include mq(small_monitor) {
		padding-right: 15px;
		margin-top: 203px;
	}
	&::before {
		@include mq(small_tablet) {
			flex-shrink: 0;
			background: $brownlight;
			margin-right: 22px;
			margin-top: 17px;
			@include box(59px, 2px);
			@include contentdisplay();
		}
	}
	&.content {
		color: $white;
		@include mq(small_laptop) {
			font-size: 20px;
			line-height: 30px;
		}
		@include mq(large_laptop) {
			font-size: 22px;
		}
	}
}
