#section-four {
	position: relative;
}

#sec-four-container {
	position: relative;
	z-index: 1;
	padding: 68px 35px 115px;
	max-width: 480px;
	@include margin_lr();
	@include mq(small_tablet) {
		padding: 95px 90px 138px;
		max-width: 800px;
	}
	@include mq(small_laptop) {
		padding: 107px 66px 115px;
		max-width: 1200px;
		@include margin_lr();
		@include flex(space-between);
	}
	@include mq(large_laptop) {
		padding: 151px 98px 135px;
		max-width: 1400px;
	}
	@include mq(small_monitor) {
		padding: 167px 126px 135px;
		max-width: 1920px;
	}
}

.sec-four-arrow {
	display: none;
	@include mq(small_laptop) {
		display: block;
		border: 1px solid $brownlight;
		border-radius: 50%;
		margin-top: 228px;
		cursor: pointer;
		@include box(77px, 77px);
		@include flex(center, center);
	}
	@include mq(large_laptop) {
		margin-top: 246px;
		@include box(80px, 80px);
	}
	svg {
		path {
			fill: $white;
			transition: all 200ms ease-in-out;
		}
	}
	&:hover {
		svg {
			path {
				fill: $brownlight;
			}
		}
	}
}

#sec-four-inner {
	@include mq(small_laptop) {
		max-width: 718px;
	}
	@include mq(large_laptop) {
		max-width: 810px;
	}
	@include mq(small_monitor) {
		max-width: 994px;
	}
}

#test-stars {
	@include flex(center);
	img {
		margin: 0 4px;
		@include box(26px, 26px);
		@include image();
	}
}

#sec-four-testimonials {
	margin-top: 25px;
	@include mq(small_tablet) {
		margin-top: 28px;
	}
	@include mq(small_laptop) {
		margin-top: 16px;
	}
	@include mq(large_laptop) {
		margin-top: 27px;
	}
	.slick-dots {
		position: static;
		margin: 103px 0 0 0;
		@include mq(small_tablet) {
			margin: 145px 0 0 0;
		}
		li.slick-active {
			button {
				&:before {
					color: $brownlight;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color: $brownlight;
				}
			}
		}
		li {
			margin: 0;
			width: 18px;
			button {
				width: 18px;
				&:before {
					width: 18px;
					opacity: 1;
					color: $white;
					font-size: 30px;
					transition: all 200ms ease-in-out;
				}
			}
		}
	}
}

.sec-four-single {
	text-align: center;
	&:first-child {
		display: block;
	}
	&:nth-child(n + 2) {
		display: none;
	}
	span {
		display: block;
	}
}

.sec-four-single-title {
	@include type(
		(
			size: 24px,
			height: 30px,
			family: $secondaryfont,
			color: #d6b28e,
		)
	);
	@include mq(small_tablet) {
		font-size: 31px;
		line-height: 37px;
	}
	@include mq(small_laptop) {
		font-size: 39px;
		line-height: 46px;
	}
	@include mq(large_laptop) {
		font-size: 44px;
		line-height: 52px;
	}
	@include mq(small_monitor) {
		font-size: 54px;
		line-height: 64px;
	}
}

.sec-four-single-content {
	margin-top: 13px;
	padding: 0 5px;
	@include type(
		(
			size: 16px,
			height: 24px,
			family: $primaryfont,
			color: $white,
		)
	);
	@include mq(small_tablet) {
		font-size: 18px;
		line-height: 28px;
		margin-top: 16px;
	}
	@include mq(small_laptop) {
		font-size: 22px;
		line-height: 30px;
		padding: 0 20px;
	}
	@include mq(large_laptop) {
		padding: 0 10px;
		margin-top: 32px;
	}
	@include mq(small_monitor) {
		max-width: 780px;
		@include margin_lr();
	}
}

.sec-four-single-name {
	margin-top: 17px;
	@include type(
		(
			size: 14px,
			height: 17px,
			spacing: 2.8px,
			family: $primaryfont,
			color: $brownlight,
			weight: 900,
			transform: uppercase,
		)
	);
	@include mq(small_tablet) {
		margin-top: 26px;
	}
	@include mq(small_laptop) {
		margin-top: 28px;
		@include quick_type(16px, 19px, 3.2px);
	}
}

#sec-four-button {
	padding: 13px 23px;
	margin-top: -97px;
	@include margin_lr();
	@include mq(small_tablet) {
		padding: 17px 28px;
		margin-top: -128px;
	}
	@include mq(small_laptop) {
		margin-top: 50px;
	}
	@include mq(large_laptop) {
		font-size: 18px;
		margin-top: 59px;
	}
	@include mq(small_monitor) {
		margin-top: 74px;
	}
}

#sec-four-bg {
	object-fit: cover;
	@include image();
	@include box(100%, 100%);
	@include abs(0, null, null, 0);
}
