#section-three {
	background: linear-gradient(to bottom, #ffffff 0%, #f2f0ef 20%);
	padding-top: 62px;
	padding-bottom: 40px;
	@include mq(small_tablet) {
		padding-top: 91px;
		background: linear-gradient(to bottom, #ffffff 0%, #f2f0ef 30%);
	}
	@include mq(small_laptop) {
		padding-bottom: 120px;
		padding-top: 110px;
		background: linear-gradient(to bottom, #ffffff 0%, #f2f0ef 70%);
	}
	@include mq(large_laptop) {
		padding-top: 130px;
		padding-bottom: 80px;
	}
	@include mq(small_monitor) {
		padding-top: 153px;
		padding-bottom: 100px;
	}
}

// see _content-layout.scss this is also being used on the about page
