#section-five {
	background: linear-gradient(to bottom, #ffffff 0%, #f2f0ef 40%);
}

#sec-five-inner {
	padding: 55px 30px 73px;
	@include mq(small_tablet) {
		padding: 90px 99px 110px;
	}
	@include mq(small_laptop) {
		padding: 89px 80px 170px;
		@include flex(space-between);
	}
	@include mq(large_laptop) {
		padding: 89px 85px 110px;
	}
	@include mq(monitor) {
		padding: 118px 105px 110px;
		max-width: 1920px;
		@include margin_lr();
	}
	h2 {
		font-size: 26px;
		line-height: 36px;
		@include mq(small_tablet) {
			font-size: 34px;
			line-height: 42px;
		}
		@include mq(large_laptop) {
			font-size: 36px;
			padding-bottom: 24px;
		}
	}
}

#sec-five-content {
	@include mq(small_laptop) {
		padding-left: 50px;
		margin-top: 20px;
	}
	@include mq(large_laptop) {
		margin-top: 97px;
	}
	@include mq(small_monitor) {
		margin-top: 133px;
		padding-left: 152px;
	}
}

#sec-five-pa-list {
	list-style: none;
	margin-top: 50px;
	max-width: 448px;
	@include margin_lr();
	@include mq(small_tablet) {
		margin-top: 55px;
		max-width: 750px;
		@include margin_lr();
	}
	@include mq(small_laptop) {
		@include margin_lr(0);
	}
	@include mq(large_laptop) {
		max-width: 477px;
	}
	@include mq(small_monitor) {
		max-width: 507px;
	}
	@include mq(monitor) {
		max-width: 100%;
	}
	li {
		font-size: 14px;
		letter-spacing: 2.8px;

		@include type(
			(
				size: 14px,
				height: 16px,
				spacing: 2.8px,
				family: $primaryfont,
				weight: 900,
				transform: uppercase,
			)
		);
		@include mq(small_tablet) {
			font-size: 16px;
			letter-spacing: 3.2px;
		}
		&:last-of-type {
			a {
				border-bottom: 1px solid $greyfour;
			}
		}
		a {
			color: $black;
			text-decoration: none;
			border-top: 1px solid $greyfour;
			padding: 18px 20px 14px 0;
			transition: all 200ms ease-in-out;
			@include flex(space-between, center);
			@include mq(large_laptop) {
				padding: 18px 20px 14px 0;
			}
			&:hover {
				color: $browndark;
			}
			span {
			}
			svg {
				@include box(16px, 14px);
				path {
					fill: $browndark;
				}
			}
		}
	}
}

#sec-five-image-wrapper {
	margin-top: 87px;
	max-width: 448px;
	@include margin_lr();
	@include mq(small_tablet) {
		margin-top: 96px;
		max-width: 463px;
	}
	@include mq(small_laptop) {
		flex-shrink: 0;
		margin-left: 85px;
		margin-top: 36px;
		max-width: 485px;
	}
	@include mq(large_laptop) {
		margin-top: 52px;
		margin-left: 75px;
		max-width: 600px;
	}
	@include mq(monitor) {
		max-width: 100%;
		width: 802px;
		margin-left: 200px;
	}
	.img-wrapper {
		&:nth-of-type(1) {
			margin-left: 18%;
			@include mq(monitor) {
				margin-left: 20%;
			}
		}
		&:nth-of-type(2) {
			// max-width: 192px;
			margin-top: -44%;
			margin-right: 36%;
		}
	}
}
